<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>AdicionarAplicacao</servlet-name>
        <servlet-class>appserver.servlets.ServletAdicionarAplicacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarAplicacao</servlet-name>
        <servlet-class>appserver.servlets.ServletBuscarAplicacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverAplicacao</servlet-name>
        <servlet-class>appserver.servlets.ServletRemoverAplicacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregarAplicacao</servlet-name>
        <servlet-class>appserver.servlets.ServletCarregarAplicacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExibirResposta</servlet-name>
        <servlet-class>appserver.servlets.ServletExibirResposta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdicionarAplicacao</servlet-name>
        <url-pattern>/AdicionarAplicacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarAplicacao</servlet-name>
        <url-pattern>/BuscarAplicacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverAplicacao</servlet-name>
        <url-pattern>/RemoverAplicacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregarAplicacao</servlet-name>
        <url-pattern>/CarregarAplicacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibirResposta</servlet-name>
        <url-pattern>/ExibirResposta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        </welcome-file-list>
</web-app>
